<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ministerio de Salud Pública</title>
	<!-- Aquí se pueden agregar enlaces a hojas de estilo CSS o scripts JS -->
</head>
<body>
	<header>
		<img src="logo-mSP.png" alt="Logo del Ministerio de Salud Pública">
		<h1>Ministerio de Salud Pública</h1>
	</header>
	<nav>
		<ul>
			<li><a href="inicio.html">Inicio</a></li>
			<li><a href="medicamentos.html">Medicamentos por vencer</a></li>
			<li><a href="expediente.html">Expediente del paciente</a></li>
			<li><a href="historial.html">Historial de inserciones, actualizaciones y eliminación de información</a></li>
			<li><a href="crearusuario.html">Creación y actualización de usuarios según el centro de salud</a></li>
			<li><a href="traslados.html">Traslados de usuarios</a></li>
			<li><a href="reportesadministrativos.html">Reportes para administración</a></li>
		</ul>
	</nav>
	<main>
		<!-- Aquí se puede agregar la información principal de la página -->
	</main>
	<footer>
		<ul>
			<li>Políticas de privacidad</li>
			<li>Términos de uso</li>
			<li>Contacto</li>
		</ul>
		<p>&copy; Ministerio de Salud Pública, todos los derechos reservados.</p>
	</footer>
</body>
</html>